.App {
  text-align: center;
}
h1{
  font-size: 40px;
  font-weight: 500;
  color: cornflowerblue;
}
h3{
  font-size: 30px;
  font-weight: 200;
  color: rgb(140, 159, 194);
}
h4{
  font-size: 25px;
  font-weight: 300;
  color: rgb(60, 68, 83);
}

.quntity_minuse{
  /* height: 20px;
  width: 20px; */
  border: 1px solid red;
  padding: 15px;
  background: red;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* .quntity_minuse span{
  font-size: 35px;
  font-weight: 700;
}
.quntity_plus span{
  font-size: 35px;
  font-weight: 700;
} */
.quntity_input{
  text-align: center;
  padding: 15px 0px;
  font-size: 15px;
  font-weight: 200;
  border: 2px solid rgb(140, 159, 194);
}
.quntity_plus{
  /* height: 20px;
  width: 20px; */
  border: 1px solid green;
  padding: 15px;
  background: red;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
